In [157]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [158]:
# Information of the AMAZON REDSHIFT database.
host = "database-alertas-sismicas.crcnepco0igw.us-east-1.rds.amazonaws.com"
user = "admin"
password = "admin4168"
database = "alertasSismicas"

In [159]:
# Opening the conection to the database
connection = mysql.connector.connect(
    host = host,
    user = user,
    password = password,
    database = database
)

In [160]:
# Executing a query to confirm if its working
cursor = connection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
tables

[('CHILE',),
 ('COUNTRIES',),
 ('FACTS',),
 ('JAPAN',),
 ('SISMOTEST',),
 ('TSUNAMIS',),
 ('USA',)]

In [161]:
# SELECTING the table "SISMOTEST" and giving the info to a pandas dataframe
query = ("SELECT * FROM SISMOTEST;")
sismoTest = pd.read_sql(query, connection)
sismoTest.head(10)

C:\Users\juanp\AppData\Local\Temp\ipykernel_10104\2084758345.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,idsismo,idcountry,mag,place,time,tsunami,lng,lat,depth,danger
0,1,3,6.2,"japan: honshu: ishikawa, toyama",2023-05-05 05:42:04,1.0,137.305,37.540,8.0,3
1,2,1,6.4,california: humboldt county,2022-12-20 10:34:24,0.0,-124.423,40.525,17.0,3
2,3,3,7.3,japan: off fukushima,2022-03-16 14:36:33,1.0,141.587,37.702,63.0,3
3,4,1,8.2,alaska peninsula,2021-07-29 06:15:47,1.0,-157.841,55.325,32.0,3
4,5,3,7.0,japan: honshu island,2021-03-20 09:09:43,0.0,141.648,38.452,43.0,3
5,6,3,7.1,japan: off fukushima,2021-02-13 14:07:50,1.0,141.749,37.745,49.0,3
6,7,2,6.7,chile: off coast central,2020-12-27 21:39:14,1.0,-74.990,-39.343,10.0,3
7,8,1,7.6,alaska,2020-10-19 20:54:39,1.0,-159.655,54.608,33.0,3
8,9,1,5.1,north carolina: sparta,2020-08-09 12:07:37,0.0,-81.094,36.476,8.0,3
9,10,1,7.8,alaska,2020-07-22 06:12:44,1.0,-158.522,55.030,28.0,3

In [162]:
# SELECTING the table "FACTS" and giving the info to a pandas dataframe
query = ("SELECT * FROM FACTS;")
facts = pd.read_sql(query, connection)
facts.head(10)

C:\Users\juanp\AppData\Local\Temp\ipykernel_10104\1653659588.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,idsismo,idcountry,mag,place,time,tsunami,lng,lat,depth,danger
0,1,1,3.24,"11km N of Delta, B.C., MX",2010-01-01 02:33:42,0,-115.202833,32.453833,5.995,1
1,2,1,3.00,"10 km SW of Fairview, Wyoming",2010-01-01 04:13:44,0,-111.058000,42.616000,5.000,1
2,3,1,3.60,"10 km ESE of Maupin, Oregon",2010-01-02 16:36:45,0,-120.955500,45.137000,14.468,1
3,4,1,3.30,"19 km SE of Sleepy Hollow, Wyoming",2010-01-03 18:53:01,0,-105.271000,44.099000,0.000,1
4,5,1,3.81,"25km E of Primo Tapia, B.C., MX",2010-01-04 00:02:17,0,-116.655000,32.191500,5.631,1
5,6,1,4.12,"1 km N of Myers Flat, California",2010-01-04 14:24:54,0,-123.868500,40.277333,29.763,1
6,7,1,4.10,"8 km S of Cedar City, Utah",2010-01-04 16:24:02,0,-113.055167,37.599667,9.080,1
7,8,1,3.39,"9km SW of Searles Valley, CA",2010-01-04 20:07:59,0,-117.482167,35.711667,8.636,1
8,9,1,3.12,"10km SW of Searles Valley, CA",2010-01-04 20:11:25,0,-117.485000,35.711500,9.196,1
9,10,1,3.28,"9 km S of Cedar City, Utah",2010-01-05 04:55:24,0,-113.059167,37.590667,14.570,1

In [163]:
# SELECTING the table "JAPAN" and giving the info to a pandas dataframe
query = ("SELECT * FROM JAPAN;")
japan = pd.read_sql(query, connection)
japan.head(2)

C:\Users\juanp\AppData\Local\Temp\ipykernel_10104\3099851293.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,idsismo,idcountry,mag,place,time,tsunami,lng,lat,depth,danger
0,1,3,4.3,"35 km S of Shizunai-furukawach?, Japan",2010-01-06 20:39:40,0,142.291,42.017,70.2,1
1,2,3,4.4,"105 km NE of Hasaki, Japan",2010-01-07 01:36:07,0,141.775,36.294,37.5,1

In [164]:
# SELECTING the table "USA" and giving the info to a pandas dataframe
query = ("SELECT * FROM USA;")
usa = pd.read_sql(query, connection)
usa.head(2)

C:\Users\juanp\AppData\Local\Temp\ipykernel_10104\630404544.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,idsismo,idcountry,mag,place,time,tsunami,lng,lat,depth,danger
0,1,1,3.24,"11km N of Delta, B.C., MX",2010-01-01 02:33:42,0,-115.202833,32.453833,5.995,1
1,2,1,3.00,"10 km SW of Fairview, Wyoming",2010-01-01 04:13:44,0,-111.058000,42.616000,5.000,1

In [165]:
# Closing the conection with the database
connection.close()